#grid {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 50% 50%;
}

.col {
	background-color: #2f2f2f;
	padding: 50px;
	margin: 10px;
}

#col1 {
	grid-column: span 2;
}

#col2, #col3, #col4, #col5 {
	grid-column: span 1;
}
